/* главный цвет шрифта #212121; */
/* вторичный цвет фона #757575; */
/* белый #FFFFFF; */
/* акцент #2196F3; */
/* фон главной секции студии и футера #2F303A; */
/* фон секции наша команда и кнопок в портфолио #F5F4FA; */
/* цвет ссылок футера #rgba(255, 255, 255, 0.6); */

:root {
  --main-text-color: #212121;
  --secont-text-color: #757575;
  --white-text-color: #ffffff;
  --accent: #2196f3;
  --background-main-section-studio-and-footer: #2f303a;
  --background-section-command-and-button-portfolio: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--white-text-color);
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*-----------------ХЕДЕР-------------- */
.header-section {
  border-bottom: 1px solid #ececec;
}
/* Логотип */

.logo-header {
  padding: 24px 0px 25px 0px;
  margin-right: 93px;

  color: var(--main-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
}
.logo-footer {
  margin-bottom: 20px;

  color: var(--main-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
}
.accent-blue {
  color: var(--accent);
}
.accent-white {
  color: var(--white-text-color);
}
.footer {
  background-color: var(--background-main-section-studio-and-footer);
  padding: 60px 0px 60px 0px;
  margin: 0px auto;
}

/* _________________Button___________________*/

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--main-text-color);
  background-color: var(--background-section-command-and-button-portfolio);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--white-text-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.open-modal-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
.button-submit {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent);
  padding: 10px 28px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
/* ___________________________________________ */
/* Ссылки шапки */
.nav-container {
  display: flex;
  align-items: center;
}
.nav-section {
  display: flex;
}

.nav-list {
  margin-right: 50px;
}
.nav-list:last-child {
  margin-right: 0px;
}

.contacts-section {
  display: flex;
  margin-left: auto;
}

.link-header {
  padding: 32px 0px;

  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover,
.link-header:focus {
  color: var(--accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-header:hover svg,
.link-header:focus svg {
  fill: var(--accent);
}

.header-icon {
  fill: var(--secont-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header.active::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: 0;
}
.active {
  color: var(--accent);
}
/* Ссылки подвала */
.link-footer {
  color: var(--color-a-footer);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.home-adress {
  display: inline-block;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.adress-header {
  color: var(--secont-text-color);
}

.contacts-items:first-child {
  margin-right: 50px;
}

.adress-footer {
  color: rgba(255, 255, 255, 0.6);
}
/* Главная секция */
.main-section {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-color: var(--background-main-section-studio-and-footer);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 696px;
  padding-bottom: 30px;
  margin: 0 auto;
}

/* Секция преимущества */
.benefits-section {
  padding: 94px 0px 47px 0px;
}

.benefits-container {
  display: flex;
  justify-content: center;
}
.benefits-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-description {
  margin-right: 30px;
}
.benefits-description:last-child {
  margin-right: 0px;
}

.benefits-text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 270px;
}

.benefits-section-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-section-command-and-button-portfolio);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

/* Секция чем мы занимаемся */
.section-works {
  padding-top: 47px;
  padding-bottom: 94px;
}
.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
}

.works-list {
  display: flex;
  margin-right: -30px;
}

.works-items {
  margin-right: 30px;
  width: 370px;
  position: relative;
  overflow: hidden;
}

.section-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
/* Секция наша команда */
.section-command {
  background-color: var(--background-section-command-and-button-portfolio);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.command-container {
  padding: 30px 0px;
}
.command-people {
  background-color: var(--white-text-color);
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-people:last-child {
  margin-right: 0px;
}

.command-title {
  margin-bottom: 10px;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
}

.command-text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

/* Порфолио */

/* Секция все */

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.btn-item {
  margin-right: 8px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-item:last-child {
  margin-right: 0;
}

.btn-item:hover,
.btn-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  margin-bottom: 30px;

  background-color: var(--white-text-color);
  width: 370px;

  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.overlay-item {
  position: relative;
  width: 100%;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.overlay-item:hover .overlay {
  transform: translatey(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > .portfolio-overlay {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.portfolio-adout {
  padding: 20px 24px;
}
.section-all-title {
  margin-bottom: 4px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-all-text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.photo-portfolio a {
  text-decoration: none;
}

.photo-portfolio {
  padding: 94px 0px 94px 0px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0px;
}
.command-social-list {
  display: flex;
  justify-content: center;
}
.command-social-item {
  margin-right: 10px;
}
.command-social-item:last-child {
  margin-right: 0px;
}
.command-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-social-link:hover,
.command-social-link:focus {
  background-color: var(--accent);
}
.command-social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-social-link:hover svg,
.command-social-link:focus svg {
  fill: var(--white-text-color);
}

.footer-info {
  display: flex;
  align-items: baseline;
}

.center-text {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  margin-right: 10px;
}
.footer-social-item:last-child {
  margin-right: 0px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent);
}
.footer-social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover svg,
.footer-social-link:focus svg {
  fill: var(--white-text-color);
}

.center-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);

  margin-bottom: 20px;
}
/* ___________________Form_____________________ */
.right-form {
  margin-left: 93px;
}
.footer-form-container {
  display: flex;
}
.footer-form {
  min-width: 358px;
  margin-right: 12px;
  padding: 15px 0px 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form:focus {
  border-color: var(--accent);
}
.footer-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}
.right-form p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);

  margin-bottom: 20px;
}
.icon-send {
  fill: var(--white-text-color);
  margin-left: 10px;
}

/* ________________________________________________ */

.section-clients {
  padding: 94px 0px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent);
}
.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent);
}
/* _________________Modal__________________ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 528px;
  min-height: 581px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px 40px 40px;
}
.modal-close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;

  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent);
}
.main-form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secont-text-color);
  margin-top: 10px;
}

.form-label:first-child {
  margin-top: 0px;
}

.input-item {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 100%;
  height: 40px;
  padding-left: 42px;

  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-item:focus {
  border-color: var(--accent);
}
.focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-item:focus + .focus {
  fill: var(--accent);
}
.input-item::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
}

.textarea-item {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-item:focus {
  border-color: var(--accent);
}
.checkbox-item > a {
  color: var(--accent);
}
.main-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 55px;
  margin: 30px 124px 0px 124px;
}

.icon-person-black {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-phone-black {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-email-black {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  color: var(--fourth-text-color);
  display: flex;
  align-items: center;
  position: relative;
}
.check-text > span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 4px;
}
.check-text > a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent);
}
.modal-check:checked + .check-text span {
  background-color: var(--accent);
  border: none;
}
.check-icon {
  fill: white;
}
.checkbox-section {
  margin-top: 20px;
}
.text-checkbox {
}
/* _____________________________________________ */
